<!DOCTYPE html>
<html>
  <head>
    <title>Book Lending</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Book Lending</h1>

      <form action="/books" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="book" placeholder="Book">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="author" placeholder="Author">
        </div>
        <div class="form-group">
          <select class="form-control" name="owner">
            <option value="Mari">Mari</option>
            <option value="Gabi">Gabi</option>
            <option value="Reuza">Reuza</option>
            <option value="Bia">Bia</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
          <% books.forEach(book => { %>
            <tr>
              <td><%= book.book %></td>
              <td><%= book.author %></td>
              <td><%= book.owner %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>